/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url('../images/DinoDiner-32.png');
    background-size: cover;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.menu-item{
    margin: 5px;
    padding-bottom: 5px;
    border: 1px solid grey;
    width: 200px;
    text-align: center;
    background-color: white;
}

#container{
    display: flex;
    flex-direction: row;
}

.reallySmallWords{
    font-size: 1px;
}